#name {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #533896;
  width: 250px;
  text-align: center;
  padding: 5px 10px 5px 0px;
  font-family: "Bree Serif";
}

nav {
  background-color: #e6eefc;
}

.bgimage {
  width: 100%;
  height: 500px;
  background: url("../image/pinkgradient.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bottom-right {
  position: absolute;
  right: 5%;
}

h2 {
  font-size: 20px;
  color: var(--dark);
  background-color: #4a9ddd;
  padding: 5px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#image-1:hover {
  opacity: 0.3;
}

#image-2:hover {
  opacity: 0.3;
}

#image-3:hover {
  opacity: 0.3;
}

#image-4:hover {
  opacity: 0.3;
}

#image-5:hover {
  opacity: 0.3;
}

.nav-link {
  color: #4a9ddd;
  font-size: 20px;
}

#intro {
  font-size: 1.2rem;
}

.middle {
  transition: 0.2s ease-in;
  opacity: 0;
}

.hover:hover .middle {
  opacity: 1;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  background-color: white;
  border: 5px solid #533896;
  border-radius: 50%;
}

.text-over-img {
  z-index: 1;
  margin-top: -100px;
  margin-left: 5%;
}

.dark {
  background-color: #533896;
  opacity: 0.8;
}

.blue {
  background-color: #808fd3;
}

.pink {
  color: #e32e58;
}

.border-right-line {
  border-right: white solid 2px;
  padding-right: 15px;
}

.border-right-line-black {
  border-right: black solid 2px;
  padding-right: 15px;
}

.navlink {
  color: black;
}

.bottom-left {
  position: absolute;
  left: 0%;
  bottom: 10%;
  background-color: var(--blue);
  color: var(--dark);
  margin: 0;
}

.caption {
  background-color: #e32e58;
  position: absolute;
  right: 15%;
  bottom: 5%;
  left: 5%;
  z-index: 10;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  color: #fff;
  text-align: start;
  width: 20%;
}

.caption1 {
  background-color: #e32e58;
  position: absolute;
  right: 15%;
  bottom: 5%;
  left: 5%;
  z-index: 10;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  color: #fff;
  text-align: start;
  width: 38%;
}

.project-name {
  font-size: 1.2rem;
  color: white;
}

.project-description {
  font-size: 0.8rem;
  color: white;
}

.project-name1 {
  font-size: 0.9rem;
  color: white;
}

.project-description1 {
  font-size: 0.7rem;
  color: white;
}

@media only screen and (max-width: 610px) {
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    background-color: white;
    border: 5px solid #533896;
    border-radius: 50%;
  }

  .caption {
    width: 40%;
  }

  .caption1 {
    background-color: #e32e58;
    position: absolute;
    right: 15%;
    bottom: 5%;
    left: 5%;
    z-index: 10;
    padding-top: 1%;
    padding-left: 2%;
    color: #fff;
    text-align: start;
    width: 38%;
  }

  .border-right-line {
    border-right: white solid 0px;
    border-bottom: white solid 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .border-right-line-black {
    border-right: black solid 0px;
    border-bottom: black solid 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  h3 {
    align-items: center;
  }
}

h3 {
  font-family: "Bree Serif";
}

@media only screen and (max-width: 768px) {
  .caption {
    width: 40%;
  }

  .caption1 {
    background-color: #e32e58;
    position: absolute;
    right: 15%;
    bottom: 5%;
    left: 5%;
    z-index: 10;
    padding-top: 1%;
    padding-left: 2%;
    color: #fff;
    text-align: start;
    width: 38%;
  }

  .border-right-line {
    border-right: white solid 0px;
    border-bottom: white solid 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .border-right-line-black {
    border-right: black solid 0px;
    border-bottom: black solid 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 996px) {
  h3 {
    min-width: 110px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    background-color: white;
    border: 5px solid #533896;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 2500px) {
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background-color: white;
    border: 5px solid #e32e58;
    border-radius: 50%;
  }
}
