#name {
  font-size: 30px;
  font-weight: bolder;
  background-color: #92cccd;
  width: 250px;
  text-align: center;
  padding: 5px 10px 5px 0px;
}

.bgimage {
  width: 100%;
  height: 500px;
  background: url("../image/SPheroBW.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bottom-right {
  position: absolute;
  right: 5%;
}

h2 {
  font-size: 20px;
  color: var(--dark);
  background-color: #92cccd;
  padding: 5px;
}

.nav-link {
  color: #92cccd;
  font-size: 20px;
}

#intro {
 font-size: 1.2rem;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  background-color: white;
  border: 5px solid #92cccd;
  border-radius: 50%;
}

.text-over-img { 
	z-index: 1; 
	margin-top: -100px; 
  margin-left: 5%;
} 


.dark {
  background-color: black;
}

.border-right-line {
border-right: white solid 2px;
padding-right: 15px;
}

.border-right-line-black {
  border-right: black solid 2px;  
  padding-right: 15px;
}

#navlink {
  color: #92cccd;
}